{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-12">
				<h1>MyMailBox</h1>
				<br>
                <h2>Sender: {{ message.sender.email }}</h2>
                <h4>Object :{{ message.title }}</h4>
                <h4>Date: {{ message.createdAt|date }}</h4>
                <h4>Message:</h4>
				<br>
                <p>{{ message.message }}</p>
				<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
					See my folders
				</a>
                <a href="{{path("received")}}" class="btn btn-primary">Back to the Mailbox</a>
			</div>
		</div>
	</section>
	<br><br><br><br><br><br><br><br><br>
	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title" id="offcanvasExampleLabel">My folders</h2>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path("messages") }}" class="list-group-item list-group-item-action">Home</a>
            </div>
            <div class="list-group">
                <a href="{{ path("received") }}" class="list-group-item list-group-item-action active">MailBox</a>
            </div>
            <div class="list-group">
                <a href="{{ path("messages") }}" class="list-group-item list-group-item-action">Sent messages</a>
            </div>
		</div>
	</div>
{% endblock %}